@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import "https://fonts.googleapis.com/css?family=Press%20Start%202P";

* {
    margin: 0;
    padding: 0;
    font-family: "Inconsolata", monospace;
    box-sizing: border-box;
}

:root {
    --back: #1c2536;
    --text: #ced9ed;
    --number: #c137ff;
    --title: #2cc64e;
    --nav: #3e415f;
}

html ::-webkit-scrollbar {
    width: 6px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: rgba(209, 209, 209, 0.863);
}

html ::-webkit-scrollbar-track {

    background: rgb(80, 80, 80);
}

@keyframes pulse {
    0% {
        filter: drop-shadow(0 0 10px);
    }

    50% {
        filter: drop-shadow(0 0 0);
    }

    100% {
        filter: drop-shadow(0 0 10px);
    }
}

html {
    background-color: var(--back);
}

a {
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 1% 2%;
    align-items: center;
    z-index: 3;
    background-color: var(--nav);
    border-radius: 0 0 0 10px;
}

.nav a {
    color: #70f828;
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
    align-items: center;
    text-decoration: none;
    font-family: 'Press Start 2P';
    animation: pulse 4s;
    animation-iteration-count: infinite;
}

.input {
    border-radius: 0 20px 20px 0;
    padding: 0.5%;
    height: 100%;
    border: none;
    background-color: floralwhite;

}

.input:focus {
    border: none;
    outline: 0;
}

.busca {
    margin-left: auto;
    color: var(--text);
    background-color: transparent;
    border-radius: 20px 0 0 20px;
    padding: 0.34% 0.4% 0.34% 0.7%;
    border: 1px solid rgba(0, 0, 0, 0.349);
    font-size: large;
    background-color: #6b03ca;
}

.busca:hover {
    cursor: pointer;

    background-color: #c137ff;
}

.busca:active {
    background-color: #682dc7;
}

.main {
    margin: 5% 0;
}

.container {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 2%;
    row-gap: 2%;

}

.game {
    position: relative;
    width: 320px;
    height: 450px;
    background: #272727;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.4s;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    transition: 0.5s;
}

.game:hover {
    box-shadow: #e85685 0px 2px 4px, rgb(0, 0, 0) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: 0.5s;
}

.game .imgBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    z-index: 1;
}

.img {
    opacity: 0.7;
    height: 350px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
}

.game .content {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.game .content h3 {
    line-height: 50px;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--text);
}