@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inconsolata", monospace;
    box-sizing: border-box;
}

:root {
    --back: #08141e;
    --text: #c5bdbd;
    --number: #6431b5;
    --title: #abc41c;
}

html {
    background-color: var(--back);
}

a {
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main {
    margin: 5% 0;
}

.container {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 2%;
    row-gap: 4%;

}

.game {
    position: relative;
    width: 320px;
    height: 450px;
    background: #272727;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.4s;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    transition: 0.5s;
}

.game:hover {
    box-shadow: rgba(0, 0, 0, 0.534) 0px 2px 4px, rgb(0, 0, 0) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: 0.5s;
}

.game .imgBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    z-index: 1;
}

.img {
    opacity: 0.7;
    height: 350px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
}

.game .content {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.game .content h3 {
    line-height: 50px;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--text);
}
