@import "https://fonts.googleapis.com/css?family=Press%20Start%202P";

* {
    margin: 0;
    padding: 0;
}

:root {
    --back: #1c2536;
    --text: #2cc64e;
    --number: #c137ff;
    --title: #2cc64e;
}

html ::-webkit-scrollbar {
    width: 6px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: rgba(209, 209, 209, 0.863);
}

html ::-webkit-scrollbar-track {

    background: rgb(80, 80, 80);
}

html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P';
    font-size: 1rem;
    line-height: 2;
    height: 100%;
    background-color: var(--back);
    text-transform: uppercase;

}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
}

li {
    color: var(--number);
}

.arrow i {
    display: none;
    color: #e85685;
    font-weight: 900;
}

.arrow {
    position: relative;
    display: block;
    color: var(--text);
}

.arrow:hover {
    cursor: pointer;
    background-color: #ea619c1f;
}

.arrow:hover i {
    display: block;
    position: absolute;
    top: 0.50em;
    left: -4.5em;
}

.title {
    position: absolute;
    top: 10%;
    color: var(--title);
}